[Unit]
Description=Runs mbp_fan_control every minute

[Timer]
# Time to wait after booting before first run
OnBootSec=1m

# Time between each run
OnUnitActiveSec=30s
Unit=mbp_fan_control.service

[Install]
WantedBy=multi-user.target
